* text=auto
*.jpeg binary
*.png binary
*.jpg binary
*.bmp binary
*.tga binary
*.gif binary
*.psd binary
*.hdr binary
*.pic binary
*.ttf binary
*.otf binary
*.bdf binary
*.pcf binary
*.pfr binary
*.fon binary
*.wav binary
*.ogg binary
*.flac binary
